@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)">
                <NotAuthorized>
                    <p>Du måste vara inloggad för att se denna sida.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
                <p role="alert">Sidan kunde inte hittas.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
